<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="widget_configuration_admin" frontName="widget_configuration_admin">
            <module name="Magento_WidgetConfigurationAdmin"/>
        </route>
    </router>
</config>
